/* ==========================================================================
   Homepage Styles
   ========================================================================== */


.homepage-parallax {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(#{$home_widget_parallax});
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    margin-bottom: 3em;
    width: 100%;
    height: 300px;
    text-align: center;
}

.homepage-parallax-bot {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(#{$home_widget_parallax_bot});
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    margin-bottom: 3em;
    width: 100%;
    height: 400px;
    padding: 30px 0px;
}


.home-box{
    margin: 4em 0em;
}

a.home-box-href{
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    text-align: center;
    padding: 30px;
    display:block;
    color:$brand-third;
    
        .fa{
            color:$brand-primary;
            display: block;
            font-size:45px;
        }
            
        h3{
            color:$brand-primary;
        }
    
        &:hover {
        background: #0eaaa6;
        color: #fff;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        
            .fa{
                color: #fff;
            }
                
            h3{
                color: #fff;
            } 
       
    }/* end hover */
}/* a.home-box-href*/

